@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;

button {
    padding: 8px 16px;
}

pre {
    overflow-x: hidden;
    overflow-y: auto;
}

video {
    width: 70%;
}

.option {
    margin-bottom: 8px;
}

#media {
    max-width: 1280px;
    display: none;

}

#stop {
    display: none;
}

#data-channel {
    height: 200px;
}